<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" th:href="@{/css//transactions.css}" />
	</head>
	<body>
		<h2>Transaction History</h2>
		
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>
			
			<tr th:each="transaction: ${transactions}">
				<td> <a th:href="@{/transactions/{transactionId}(transactionId=${transaction.id})}"> [[${transaction.id}]]</a> </td>
				<!-- https://www.baeldung.com/thymeleaf-iteration -->
				<td >[[${transaction.date}]]</td>
				<td >[[${transaction.retailer}]]</td>
<!-- [id=38, retailer=Albertsons, description=Albertsons Store #490, date=2020-01-05T07:29:36, amount=89.54, type=C] -->
				<!-- amount=89.54, type=C ====> (Funds In) -->
				<td th:if="${transaction.type} == 'C'"  >[[${transaction.amount}]]</td>
				<td th:unless="${transaction.type} == 'C'" ></td>
<!-- Transaction [id=17, retailer=Kroger, description=Kroger Store #271, date=2020-01-01T22:43:35, amount=9.18, type=D] -->				
				<!-- amount=9.18, type=D ====> (Funds Out) -->
				<td th:if="${transaction.type} == 'D'" >[[${transaction.amount}]]</td>
				<td th:unless="${transaction.type} == 'D'" ></td>
			</tr>
		</table>
	</body>
</html>