<html xmlns:th="http://thymeleaf.org">

	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" th:href="@{/css//transactions.css}" />
	</head>

	<body>
    <!-- Transition ID: 50 (Debit) 
	       Date: xxxxx
	       Description: xxxxxx
	       back -->
   
		<div th:switch="${transaction.type}">
			<h1 th:case="'C'">Transition ID: [[${transaction.id}]] (Credit)</h1>
			<h1 th:case="'D'">Transition ID: [[${transaction.id}]] (Debit)</h1>
		</div>
		<div class="sized">
			<div>
				Date: [[${transaction.date}]]
			</div>
			<div th:switch="${transaction.type}" >
			   <div></div>
			   <div  th:case="C">Amount: -[[${transaction.amount}]]</div>
			   <div  th:case="D">Amount: [[${transaction.amount}]]</div>
			</div>
			<div>
				Description: [[${transaction.description}]]
			</div>
			<div><a href="/transactions" th:if="${transaction.id != null}"> back</a></div>
		</div>

	</body>
</html>